
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Results</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body style="background-image: url('https://i.postimg.cc/BQYPNHH9/bg-image-02.png'); background-size: cover;">
<div textalign="center">
    <h1 style="text-align:center; font-weight:bold; padding: 50px;">ADD NEW RESULTS</h1>
    <br />
     <div class="col-sm-4" style="margin-right:auto; margin-left:auto; padding:20px">
    <form action="#" th:action="@{/Result/save}" th:object="${result}" method="post">

      
 <div alight="left">
            <tr>
                <label class="form-label" >Student ID</label>
                 <td>
                
                 <select th:field="*{stdid}" class="form-control" style="border-radius: 5px;">
                    <option th:each="student : ${liststudent}"
                    th:value="${student.sid}"
                    th:text="${student.sid}">
                    
                    
                    </option>
                              </select>
   
   
        
                </td>
            </tr>
         </div>
         
         <div alight="left">
            <tr>
                <label class="form-label" >Module Code</label>
                 <td>
                
                 <select th:field="*{rmodule}" class="form-control" style="border-radius: 5px;">
                    <option th:each="module : ${listmodule}"
                    th:value="${module.modulecode}"
                    th:text="${module.modulecode}">
                    
                    
                    </option>
                              </select>
   
   
        
                </td>
            </tr>
            </div>
         
        <div alight="left">
            <tr>
                <label class="form-label" >Module Marks</label>
                
                  <td>
                
                 <select th:field="*{rmarks}" class="form-control" style="border-radius: 5px;">
                    <option value="4.2">A+</option>
                    <option value="4.0">A</option>
                     <option value="3.7">A-</option>
                      <option value="3.3">B+</option>
                      <option value="3.0">B</option>
                      <option value="2.7">B-</option>
                      <option value="2.3">C+</option>
                      <option value="2.0">C</option>
                      <option value="1.7">C-</option>
                              </select>
   
   
        
                </td>
            </tr>
         </div>  

                  
          <!--   <div alight="left">
            <tr>
                <label class="form-label" >Student PhoneNo</label>
                
                <td>
                 <input type="text" th:field="*{snumber}" class="form-control" placeholder="Phone number" style="border-radius: 5px;"/>
                </td>
            </tr>
         </div>  

         <div alight="left">
            <tr>
                <label class="form-label" >Student Gmail</label>
                
                <td>
                
                 <td>
                 <input type="text" th:field="*{sgmail}" class="form-control" placeholder="Gmail" style="border-radius: 5px;"/>
                </td>
   
   
        
                </td>
            </tr>
         </div>  
         
         -->

    
              <div style="display:flex; justify-content: center;">
        <td colspan="2"><button type="submit" class="btn btn-warning" style=" margin-top: 20px; border-radius: 50px; padding-left: 50px; padding-right: 50px;">Save</button> </td>
        </div>
        </tr>

	<br>
                <!-- <tr>
                <td colspan="2"><button type="submit" class="btn btn-warning" style="float:right; margin:10px">Save</button> </td>
                </tr> -->

    </form>


</div>
</body>
</html>

