<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>RESULTS</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

</head>
<body style="background-image: url('https://i.postimg.cc/BQYPNHH9/bg-image-02.png'); background-size: cover;">
	
<div>
	<h2 style="text-align:center; font-weight:bold; padding: 50px;">RESULT PAGE</h2>


	


	<div class="col-sm-8"  style="margin-right:auto; margin-left:auto; padding:20px"  textalign = "center">
        <div class="panel-body" texttextalign = "center" >
                 
                 
  	<table class="table table-striped">
 	<thead>
        <tr>
      	    <th>Student ID</th>
            <th>Student Name</th>
			<th>SGPA</th>
		
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="allresult : ${listallresult}">
		<td th:text="${allresult.sid}">Module Code</td>
		<td th:text="${allresult.sname}">Module Name</td>
		<td th:text="${allresult.sgpa}">Lecturer In-Charge</td>
		    
		</tr> 
  </tbody>
  </table> \
  <div textalign = "left" style="display: flex; justify-content:center">
	<h3><a  th:href="@{'/result/addresults'}"><button type="button" class="btn btn-warning" style=" margin-top: 20px; border-radius: 50px; padding-left: 50px; padding-right: 50px;">Add Results</button></a>	   
</div>    
             
</div>
</div> 

</tr>

</tbody>
</table>
<!-- <div> -->

</body>
</html>