<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>StuMan</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

</head>
<body >
<div th:fragment="home" >
    <div  style="display: flex; justify-content: center; position: relative; top: 600px;">
    <a th:href="@{'/module'}"><button type="submit" class="btn btn-warning" style=" margin-top: 20px; margin-right: 10px; border-radius: 50px; padding-left: 50px; padding-right: 50px; font-weight:bold; font-size: 30px;">MODULES</button></a>
        <a th:href="@{'/student'}"><button type="submit" class="btn btn-warning" style=" margin-top: 20px; margin-right: 10px; border-radius: 50px; padding-left: 50px; padding-right: 50px; font-weight:bold; font-size: 30px;">STUDENTS</button></a> 
        <a th:href="@{'/result'}"><button type="submit" class="btn btn-warning" style=" margin-top: 20px; margin-left: 10px; border-radius: 50px; padding-left: 50px; padding-right: 50px; font-weight: bold;  font-size: 30px;">RESULTS</button></a> 
   

    </div>
    
    </div>
 
</body>
</html>